<div class="mdl-grid">
  <div class="fooof-definition-card mdl-cell mdl-cell--8-col mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand">
      <h1 class="mdl-card__title-text">FOOOF</h1>
    </div>
    <div class="mdl-card__supporting-text">
      Fitting Oscillations and One Over F
    </div>
  </div>
  <div class="fooof-demo-card mdl-cell mdl-cell--8-col mdl-card mdl-shadow--2dp">
    <div class="mdl-card__media fooof-chart">
      <svg width="666" height="435" class="mySvg" />
    </div>
    <div class="mdl-card__supporting-text">
      There's gonna be some neat-o charts
    </div>
  </div>
</div>
