/* You can add global styles to this file, and also import other style files */

.mdl-grid {
  max-width: 1024px
}

.mdl-card__media {
  background-color: #FFF;
}

.fooof-chart svg {
  width: 100%;
  height: 444px;
}
