
<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <header class="app-header"></header>

  <div class="app-navigation"></div>

  <main class="mdl-layout__content">
    <div class="page-content">

      <!-- Introduction -->
      <div class="mdl-grid">

        <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet">
          <app-copy-intro></app-copy-intro>
        </div>

        <div class="mdl-cell mdl-cell--8-col mdl-cell--6-col-tablet">
          <app-chart-intro></app-chart-intro>
        </div>

      </div>

      <!-- Traditional Analysis -->
      <div class="mdl-grid">

        <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet">
          <app-copy-aperiodic-fit></app-copy-aperiodic-fit>
        </div>

        <div class="mdl-cell mdl-cell--8-col mdl-cell--6-col-tablet">
          <app-chart-aperiodic-fit></app-chart-aperiodic-fit>
        </div>

      </div>
    </div>

    <footer class="app-footer"></footer>

  </main>


</div>
