
<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <header class="app-header"></header>

  <div class="app-navigation"></div>

  <main class="mdl-layout__content">
    <div class="page-content">

      <!-- Introduction -->
      <div class="mdl-grid">

        <div class="mdl-cell mdl-cell--4-col">
          <copy-intro></copy-intro>
        </div>

        <div class="mdl-cell mdl-cell--8-col">
          <chart-intro></chart-intro>
        </div>

      </div>

      <!-- Traditional Analysis -->

    </div>

    <footer class="app-footer"></footer>

  </main>


</div>
