<h1>Introduction</h1>

<p>FOOOF is a fast, efficient, physiologically-informed model to parameterize neural power spectra, characterizing both the aperiodic 'background' component, and periodic components as overlying peaks, reflecting putative oscillations.</p>

<p>The model conceives of the neural power spectrum as consisting of two distinct functional processes:</p>

<ul>
  <li>An aperiodic component, typically reflecting 1/f like characteristics, modeled with an exponential fit, with:</li>
  <li>Band-limited peaks rising above this background, reflecting putative oscillations, and modeled as Gaussians.</li>
</ul>
